{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    
    <script src="{% static 'network/index.js' %}"></script>
    
    <div id="new-post">
        
        {% if user.is_authenticated %}
            <h3>New Post</h3>
            <form id="new-post-form" method="post">
                {% csrf_token %}
                <textarea name="postinput" class="form-control" id="compose-post" placeholder="Input Text" required></textarea>
                <input type="submit" value="Post" class="btn btn-primary"/>
            </form>
        {% endif %}
    </div>

    <body>
        

        <div id="dynamic-posts">
            
        </div>

       


        <div class="pagination">
            <span class="step-links" id="nav-bar">
                
            </span>
        </div>

    </body>

{% endblock %}

