{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    
    <script src="{% static 'network/profile.js' %}"></script>
    <h1>{{username}}'s Profile</h1>
    <div id="new-post">
        
        {% if user.is_authenticated and user.username == username %}
            <h3>New Post</h3>
            <form id="new-post-form" method="post">
                {% csrf_token %}
                <textarea name="postinput" class="form-control" id="compose-post" placeholder="Input Text" required></textarea>
                <input type="submit" value="Post" class="btn btn-primary"/>
            </form>
        {% endif %}
    </div>

    <body>
        <div id="posts">
            {% block content %}
            {% for kw in page_obj %}
                <div id={{kw.postid}}>
                    
                        <h4>{{kw.postcontent}}</h2>
                        Posted by <a href="/user/{{kw.username}}">{{kw.username}}</a> with ID {{kw.userid}} on
                        {{kw.timestamp}}  ,  Likes: {{kw.likes}}
                        <br>
                        <br>
                </div>
            {% endfor %}
            {% endblock %}
        </div>

       


        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </body>

{% endblock %}

